# OS / editors
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
.env
.mypy_cache/
.pytest_cache/
*.egg-info/
htmlcov/
.coverage

# Streamlit
.streamlit/secrets.toml
app/.streamlit/secrets.toml

# R
.Rhistory
.RData
.Rproj.user/
.Rprofile
.Renviron
renv/library/
.Rcache/

# Node/Cache
.cache/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
*.plan
tfplan
infra/terraform/.terraform/*
infra/terraform/tfplan

# Local data & temp
data/
tmp/
temp/
*.tmp

# Documentation (generated)
*.pdf
docs/*.png

# Credentials (never commit!)
*service*account*.json
*sa-key*.json
*credentials*.json
secrets/

# Reports
baseline_report.md
performance_report.md
scripts/reports/*
infra/terraform/~/.terraform.d/plugin-cache/registry.terraform.io/hashicorp/google-beta/7.7.0/darwin_arm64/terraform-provider-google-beta_v7.7.0_x5
.pylintrc
baseline_metrics.json
datawarehouse-422511-cf521161e016.json
performance_metrics.json
pyproject.toml
app/deprecated/0_Connect_Your_Data.py
app/deprecated/10_analysis.py
infra/terraform/~/.terraform.d/plugin-cache/registry.terraform.io/hashicorp/google/5.45.2/darwin_arm64/LICENSE.txt
infra/terraform/~/.terraform.d/plugin-cache/registry.terraform.io/hashicorp/google/5.45.2/darwin_arm64/terraform-provider-google_v5.45.2_x5
infra/terraform/~/.terraform.d/plugin-cache/registry.terraform.io/hashicorp/google/7.7.0/darwin_arm64/LICENSE.txt
infra/terraform/~/.terraform.d/plugin-cache/registry.terraform.io/hashicorp/google/7.7.0/darwin_arm64/terraform-provider-google_v7.7.0_x5
infra/terraform/~/.terraform.d/plugin-cache/registry.terraform.io/hashicorp/google-beta/7.0.1/darwin_arm64/LICENSE.txt
infra/terraform/~/.terraform.d/plugin-cache/registry.terraform.io/hashicorp/google-beta/7.0.1/darwin_arm64/terraform-provider-google-beta_v7.0.1_x5
infra/terraform/~/.terraform.d/plugin-cache/registry.terraform.io/hashicorp/google-beta/7.7.0/darwin_arm64/LICENSE.txt
scripts/perf_test.py
*.csv
*.log
*.json
*.txt
