streamlit[auth]>=1.43
snowflake-connector-python
google-cloud-storage
google-cloud-run
google-cloud-secret-manager
cryptography
pandas
pyarrow
fastparquet
psutil
mime
altair>=5.0
scikit-learn>=1.2
statsmodels>=0.13
