streamlit[auth]>=1.43
httpx>=0.24,<1.0
pandas
snowflake-connector-python
google-cloud-bigquery
google-cloud-secret-manager
google-cloud-storage
google-cloud-run
google-cloud-tasks
protobuf<5
pytz
db-dtypes
matplotlib
seaborn
